.box {
  background-color: red;
  width: 200px;
  height: 200px;
  font-size: 24px;
  color: white;
  border: 5px solid blue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 50px;
}
