.box {
  background-color: red;
  width: 200px;
  height: 200px;
  font-size: 24px;
  color: white;
  border: 5px solid blue;
}

.container {
  display: flex;
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 2;
}

.box3 {
  flex: 1;
}
