@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-image: url("https://a-static.besthdwallpaper.com/aurora-borealis-in-the-night-wallpaper-3840x2400-10599_9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.countdown {
  display: flex;
  transform: scale(2);
}

.time {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year {
  font-size: 200px;
  font-weight: 800;
  opacity: 0.4;
  padding-top: 100px;
}
