.parent {
  background-color: chartreuse;
  position: relative;
}

.child1 {
  background-color: chocolate;
  position: sticky;
  top: 5px;
  /* left: 50px; */
  /* bottom: 10px; */
  /* right: 30px; */
}

.child2 {
  background-color: aqua;
}

.child3 {
  background-color: red;
}
