.container {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "header header header"
    "links content ads"
    "footer footer ads";
}

.header {
  grid-area: header;
  background-color: red;
}

.link {
  grid-area: links;
  background-color: yellow;
}

.content {
  grid-area: content;
  background-color: purple;
}

.ads {
  grid-area: ads;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: green;
}

h1 {
  color: blue;
}

@media screen and (max-width: 765px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "links"
      "content"
      "ads"
      "footer";
  }

  .h1 {
    color: red;
  }
}
