@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: #999;
}

img {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 8px 0;
}

h1 {
  color: white;
}

.showcase {
  width: 100%;
  height: 93vh;
  background: url("https://images.frandroid.com/wp-content/uploads/2022/10/netflix-octobre-contenus-2022.jpg");
  position: relative;
  background-size: cover;
}

.showcase::after {
  background-color: rgba(0, 0, 0, 0.607);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
}

.showcase-top {
  height: 90px;
  z-index: 2;
  position: relative;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 0;
  left: 45%;
}

.showcase-top button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 7px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.463);
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 32px;
  padding: 24px 35px;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 32px;
}

.showcase-content p {
  color: white;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.footer {
  max-width: 70%;
  margin: 16px auto;
  color: #999;
  font-size: 12px;
}

ul {
  list-style: none;
}

.footer p {
  margin-bottom: 24px;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
}

.footer-cols li {
  line-height: 25px;
}

.footer a {
  color: #999;
  font-size: 12px;
}
